.tooltip-window {
    position: fixed;
    width: 200px;
    background-color: rgba(0, 0, 0, 0.8);
    color: #fff;
    text-align: center;
    border-radius: 5px;
    padding: 10px;
    z-index: 1000;
    opacity: 1;
    font-size: 12px;
  }
  
  .fixed-center {
    top: 34%;
    left: 52.5%;
    transform: translate(-50%, -50%);
  }
  
  .close-btn {
    background-color: red; /* สีพื้นหลังของปุ่ม */
    color: white; /* สีตัวอักษร */
    border: none;
    border-radius: 20%; /* ทำให้เป็นวงกลม */
    width: 30px;
    height: 30px;
    font-size: 16px;
    font-weight: bold;
    cursor: pointer;
    display: inline-block;
    text-align: center;
    line-height: 30px; /* จัดให้อยู่กลางปุ่ม */
    position: absolute;
    top: 5px;
    right: 5px;
  }
  
  .close-btn:hover {
    background-color: darkred; /* เปลี่ยนสีเมื่อ hover */
  }
  
  .app-container__1 {
    margin-top: 50px; 
    background: #ffffff81;
    border-radius: 30px;
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.1);
    padding: 30px;
    max-width: 150%;
    text-align: center;
    margin-bottom: 80px; 
    
    position: relative;
    z-index: 100;
    /* margin-left: -34%; */
}


@media screen and (max-width: 600px) {
  
  .app-container__1 {
    margin-top: 50px; 
    background: #ffffff81;
    border-radius: 30px;
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.1);
    padding: 45px;
    text-align: center;
    margin-bottom: 80px; 
    
    position: relative;
    z-index: 100;
    /* margin-left: -34%; */
}
}

